---
Checks:           'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,modernize-*,-modernize-use-trailing-return-type,readability-braces-around-statements,readability-isolate-declaration,-cppcoreguidelines-avoid-c-arrays,-modernize-avoid-c-arrays,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-bounds-constant-array-index,-modernize-use-auto,-cppcoreguidelines-owning-memory'
WarningsAsErrors: '*'
FormatStyle:      'file'
...
